# EXPLORATORY ANALYSIS OF 2010s

In [47]:
query = '''select
            strftime("%Y", m.match_date) as year, 
            strftime("%m", m.match_date) as month,
            m.match_date as date,
            o.opp_name as opposition,
            g.ground_name as ground,
            g.country as host,
            m.result,
            m.toss
            from mat as m join
            opposition as o join
            ground as g
            where m.opposition=o.opp_id and m.ground=g.ground_id;
        '''
df = pd.read_sql_query(query, conn)
df.head()

,year,month,date,opposition,ground,host,result,toss
0,2000,03,2000-03-09,India,Nehru Stadium,India,India led the 5-match series 1-0,"South Africa , elected to bat first"
1,2000,03,2000-03-12,India,Keenan Stadium,India,India led the 5-match series 2-0,"South Africa , elected to bat first"
2,2000,03,2000-03-15,India,Nahar Singh Stadium,India,India led the 5-match series 2-1,"South Africa , elected to field first"
3,2000,03,2000-03-17,India,Reliance Stadium,India,India led the 5-match series 3-1,"South Africa , elected to bat first"
4,2000,03,2000-03-19,India,Vidarbha Cricket Association Ground,India,India won the 5-match series 3-2,"India , elected to field first"